body{
    margin:0;
    padding:0;
    font-family: Arial;
}

header{
    border:1px solid black;
    background-color: aqua;
    position:fixed;
    top:0;
    width:100%;
    height:10%;
    text-align: center;
}

#side-bar-left{
    border:1px solid black;
    position:fixed;
    top:12%;
    background-color: antiquewhite;
    width:160px;
    height:88%;
}
#content{
    background-color: aliceblue;
    border: 1px solid black;
    width: 75%;
    min-height: 500px;
    margin-left: 168px;
    margin-top: 75px;
}
#side-bar-right{
    border:1px solid black;
    position:fixed;
    top:12%;
    background-color: antiquewhite;
    width:160px;
    height:88%;
    right:0;
}